.gradient-custom {
  /* fallback for old browsers */
  background: #F5F5F5;

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
  }
.main-container{
  width: 100%;
  height: auto;
  padding: 0px;
  /* background-color: red; */
}
.container-fluid.hero-section{
  width: 100%;
  height: 100vh;
  padding: 0px;

}
.blue-ball{
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 0 !important;
}
.blue-ball:after{
  content: '';
  position: absolute;
  width: 1000px;
  height: 1200px;
  transform: rotate(90deg);
  background: #0f6bae;
  border-radius: 50%;
  top: 0;
  right: 0;
  top: -60%;
  right: -20%;
  z-index: -1;

}
.awesome{
  position: relative;
}
.landing-logo{
  font-size: 24px;
  font-weight: 600
}

.login-signup .login{
  border: 2px solid #001D4A;
  background-color: transparent;
  /* color: #f2f2f2; */
  border-radius: 3px;
}
.login-signup button.login:hover{
  background-color: #FFC857;
  transition: .1s ease-in;
  color: #001D4A;
  border: 0;
}
.login-signup .signup{
  background-color: #FFC857;
  border-radius: 3px;
  border: 0;
}
.container.banner{
  width: 100%;
  height: auto;
  min-height: 80vh;
}
.landing-coder-card{
  width: 100%;
  min-height: 90vh;
}
.container.inner-coder-card{
  background-color: #FFC857;
  border-radius: 5px;
  width: 100%;
  height: 300px;
}
.landing-right{
  height: 100%;
}
.landing-left{
  font-size: 24px;
  font-weight: 600;
}
.assessment-container1{
  background-color: #E3E4DB;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  margin-top: -120px;
}
.assessment-container2{
  background-color: #E3E4DB;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  margin-top: 30px;

}
.assessment-button button{
  /* width: 100%;
  height: 50px; */
  border-radius: 3px;
  border: 0;
  background-color:#001D4A;
  color: #E3E4DB;

}
.assessment-container1 h1, .assessment-container2 h1{
  font-weight: 600;
  font-size: 28px;
}
.assessment-container1 h5, h4, p, .assessment-container2 h5, h4, p{
  font-weight: 400;
  font-size: 16px
}

.subscribe{
  background-color: #E3E4DB;
  width: 100%;
  min-height: 60vh
}
.btn-subscribe{
  /* height: 30px */
  border-radius: 3px;
  border: 0;
  background-color: #001D4A;
  color:#E3E4DB;
  font-weight: 400;

}

.input-subscribe{
  width: 450px;
  height: 60px;
}
.footer{
  width: 100%;
  height: 60px;
  min-height: 20vh;
  background-color: #E3E4DB;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer ul{
  list-style: none;
}
.top-dash-container{
  background-color: #0f6bae;
  width: 100%;
  height: auto;
}

.dash-welcome{
  font-size: 20px;
  font-weight:600;
  color: #E3E4DB;
}
.dash-welcome span{
  color: #FFC857;
}
.hero-left-dash p{
  text-transform: uppercase
}
.user-info{
  width: 100%;
  height: 250px;
  background-color: #0f6bae;
}
.dash-stats p{
  color:#FFC857;
  font-size: 20px;
}

.random-assessments{
  width: 100%;
  height: auto;
  margin-top: -70px;
}
.single-dash-assessment{
  width: 450px;
  height: 250px;
  background-color: #E3E4DB;
  border-radius: 10px;  
}
.dash-assessment-button button{
  border-radius: 3px;
  border: 0;
  background-color:#001D4A;
  color: #E3E4DB;
}
.single-dash-assessment h1{
  font-size: 24px;
  font-weight: 600;
}
.dash-more p{
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.dash-completed{
  width: 100%;
  height: auto;
  min-height: 70vh;
  /* background-color: lime; */
}
.complete-task{
  background-color: #FFC857;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  color: #001D4A;
}
.complete-task h1{
  font-weight: 600;
  font-size: 28px;
}
.complete-task button{
  background-color: #0f6bae;
  width: 150px;
}
nav.navigation{
  background-color: #0f6bae !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}