*{
  font-family: "Poppins" !important;
  margin: 0;
  padding: 0;
}
body {
  /* fallback for old browsers */
  background: #f5f5f5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f5f5f5, #f5f5f5);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f5f5f5, #f5f5f5);
}
.login-container {
  background-color: #e3e4db;
}
.main-login{
  width: 100%;
  height: 100vh !important;
  background-color: #e3e4db;
}
.login-main{
  width: 100%;
  height: auto;
}
.card-login {
  width: 100%;
  height: auto;
  /* max-height: 600px; */
  background-color: #cdcdcd;
  border-radius: 20px;
}
.logo {
  color: #001d4a;
  padding-top: 2%;
  padding-left: 3%;
  text-emphasis-color: #001d4a;
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
  background-color: #e3e4db;
}
.logo a{
  text-decoration: none;
  color: inherit;
}

.container {
  color: #001d4a;
}
.card {
  background-color: #cdcdcd;
  /* max-height: 500px; */
}
.btn-login {
  background-color: #0f6bae;
}
button.btn-login:hover{
  background-color: #001d4a;
}
p {
  color: #001d4a;
  font-size: large;
  font-weight: 600;
}
/* .form-floating {
  position: relative;
} */
.icon {
  /* position: absolute;
  top: calc(40%);
  left: 20rem; */
}
.code{
  font-weight: 400;
}

.assessmentcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  color: #F5F5F5;
  border-radius: 50px;
  /* margin: 2%; */
  width: 100%;
  height: 300px;
  margin-top:30px;
  margin-bottom: 30px;
  /* flex-wrap: wrap; */
}

.leftassessmentcard {
  background-color: #0F6BAE;
  padding: 2% 10% 5% 2%;
  border-radius: 10px 0 0 10px;
  width: 30%;
  height: auto;
  min-height: 100%;
}

.rightassessmentcard {
  background-color: #121420;
  padding: 2%;
  border-radius: 0 10px 10px 0;
  width: 50% !important;
  height: auto;
  min-height: 100%;
}

.assessmentinfo {
  color: #F5F5F5;
  font-size: small;
  font-weight: 100;
}

.assessmentbutton {
  background-color: #FFC857;
  color: #121420;
  border-radius: 5px;
  border: 0;
  padding: 5%;
  font-size: small;
  margin-top: 4%;
  font-size: 16px;
  font-weight: 500;
}
button.assessmentbutton:hover{
  background-color: #0f6bae;
  transition: .2s ease;
  border: 2px solid #FFC857;
  color: #FFC857;

}
.assessmenttopic {
  white-space: nowrap;
  padding: 2%;
}

.assessmentsubtopic {
  font-size: 18px;
}

.cardtopic {
  color: #F5F5F5;
  font-size: medium;
}


